* {
    padding: 0;
    margin: 0;
}

body {
    height: calc(100vh + 30px);
    width: 100%;
}

header {
    height: 100px;
    background-color: antiquewhite;
}

nav {
    border: 1px black dotted;
    height: 40px;
    width: 800px;
    margin: 0 auto;
}

main {
    height: calc(100vh - 100px);
    width: 800px;
    margin: 0 auto;
    outline: 2px blue solid;
}

footer {
    height: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}